/*
==============================================
General Styling
==============================================
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial;
}
h1, h2 {
  font-family: 'Lora', serif;
}


/*
==============================================
Navbar Styling
==============================================
*/
.navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C7A75B;
}
.navbar-header i {
  color: #fff;
}
.navbar-default.affix {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
}


/*
==============================================
Hero image section
==============================================
*/
header {
  padding-top: 100px;
  height: 750px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg.jpg);
  color: #fff;
}
#logo-wrapper {
  position: relative;
  top: 90px;
}
#logo {
  width: 240px
}
header .time {
  margin-top: 30px;
  font-size: 16px;
}
header .time .title {
  font-weight: bold;
  font-size: 18px;
}
#dish_1 {
  position: absolute;
  width: 40%;
  top: 130px;
  left: -90px;
}
#dish_2 {
  position: absolute;
  width: 50%;
  right: -18%;
  top: 100px;
}
#dish_3 {
  position: absolute;
  width: 30%;
  top: 500px;
  left:0;
  right:0;
  margin:auto;
}


/*
==============================================
Media Queries
==============================================
*/
@media only screen and (min-width:320px) and (max-width: 900px)  {
  header {
    height: 620px;
  }
}

@media only screen and (max-width:414px) {
  #dish_1 {
    left: -60px;
    top: 280px;
  }
}
