/*
==============================================
General styling
==============================================
*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial;
}
h1, h2, h4 {
  font-family: 'Lora', serif;
}
h2, h3 {
  margin-bottom: 30px;
}
h3 {
  font-weight: 200;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
section p {
  text-align: justify;
}
.pad-0 {
  padding-left: 0;
  padding-right: 0;
}

/*
==============================================
Navbar styling
==============================================
*/
.nav {
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}
.navbar-default {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C7A75B;
}
.navbar-header i {
  color: #fff;
}
.navbar-default.affix {
  background-color: #27333e;
  border-color: rgba(34, 34, 34, 0.05);
}
.navbar-brand img {
  width: 100px;
  top: 5px;
  position: absolute;
}

/*
==============================================
Hero image section
==============================================
*/
header {
  padding-top: 100px;
  height: 750px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg.jpg);
  color: #fff;
}
#logo-wrapper {
  position: relative;
  top: 90px;
}
#logo {
  width: 240px
}
header .time {
  margin-top: 30px;
  font-family: 'Lora', serif;
  font-size: 16px;
}
header .time .title {
  font-weight: bold;
  font-size: 18px;
}
#dish_1 {
  position: absolute;
  width: 40%;
  top: 130px;
  left: -90px;
}
#dish_2 {
  position: absolute;
  width: 50%;
  right: -18%;
  top: 100px;
}
#dish_3 {
  position: absolute;
  width: 30%;
  top: 500px;
  left:0;
  right:0;
  margin:auto;
}


/*
==============================================
About section
==============================================
*/
.about-page-left {
  background: url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 45px;
}

.about-page-right img {
  width: 520px;
  position: relative;
  left: -50px;
  top: 40px;
  outline: 3px solid rgba(255, 255, 255, 0.5);
  outline-offset: -15px;
}


/*
==============================================
Menu section
==============================================
*/
#menu {
    background-color: #fcfbf5;
}
.special-items {
  margin-top: 30px;
  margin-bottom: 50px;
}
.special-items img {
  width: 100%;
}
.special-items .img-wrapper {
  overflow: hidden;
}
.special-items .item-wrapper {
  position: relative;
  overflow: hidden;
}
.special-items .item-wrapper:after {
  content: '';
  display: inline-block;
  width: 90%;
  height: 90%;
  opacity: 0.2;
  border: 1px solid white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in
}
.special-items .item-wrapper:hover:after {
  opacity: 0.8;
  background-color: #c7a75b;
  z-index: 1;
}
.special-items .item-wrapper .text {
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 10%;
  padding: 12%;
  width: 100%;
  z-index: 2;
}
.special-items .item-wrapper h4{
  font-weight: bold;
  padding-bottom: 15px;
  z-index: 2;
}
.special-items .item-wrapper .text p {
  opacity: 0.6;
}
#full-menu {
    background-image: url(../img/menu-bg_2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 500px;
}
#full-menu a {
    color: #fff;
}
#full-menu .nav-pills > li.active > a,
#full-menu .nav-pills > li.active > a:hover,
#full-menu .nav-pills > li.active > a:focus,
#full-menu .nav > li > a:hover,
#full-menu .nav > li > a:focus {
  background: none;
}
#full-menu .nav-pills > li.active > a,
#full-menu .nav-pills > li.active > a:hover,
#full-menu .nav-pills > li.active > a:focus {
  color: #C7A75B;
}
#menu-tabs {
  margin-bottom: 30px;
  font-size: 18px;
}
#menu-tabs ul {
  display: inline-block;
}
.left-menu-items {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.menu-item .item-name h4 {
    margin-bottom: 10px;
    margin-top: 30px;
}
.menu-item .item-details .item-price {
    color: #cb9f6b;
}


/*
==============================================
Media queries
==============================================
*/
@media only screen and (min-width:320px) and (max-width: 900px) {
  header {
    height: 620px;
  }
}
@media only screen and (min-width:768px) and (max-width: 991px) {
  .special-items .img-wrapper, .special-items .item-wrapper {
    max-height: 250px;
  }
}

@media only screen and (min-width:1200px) {
  .about-page-left {
    background: url(../img/about-bg_2.jpg);
  }
}

@media only screen and (max-width:414px) {
  #dish_1 {
    left: -60px;
    top: 280px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-default {
  background-color: #27333e;
  }
  .special-items .item-wrapper {
    max-height: 300px;
  }
  .menu-item .item-name h4, .menu-item .item-details p {
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  section {
    padding-top: 20px;
  }
  .about-page-left {
    padding: 25px;
    background: none;
  }
  .about-page-right {
    text-align: center;
  }
  .about-page-right img {
    width: 90%;
    left: 0;
  }
  .special-items .item-wrapper .text {
    font-size: 13px;
    padding: 10%;
  }
}
